In [1]:
#import shenanigans
import numpy as np
import pandas as pd
import datetime as dt

import matplotlib.pyplot as plt

import warnings
warnings.simplefilter("ignore")

import statsmodels.api as sm
from sklearn.linear_model import LinearRegression

from scipy import stats

In [2]:
#read and load data
data1 = pd.read_csv('model1.csv')
data2 = pd.read_csv('model2.csv')
data3 = pd.read_csv('model3.csv')

In [3]:
#Convert Dates to Datetime
data1['Date'] = pd.to_datetime(data1.Date, format='%Y-%m-%d')
data2['Date'] = pd.to_datetime(data2.Date, format='%Y-%m-%d')
data3['Date'] = pd.to_datetime(data3.Date, format='%Y-%m-%d')

#Convert Returns from percentage to decimal
data1["Return"] = data1["Return"]/100
data2["Return"] = data2["Return"]/100
data3["Return"] = data3["Return"]/100

In [4]:
#Remove duplicated records; keep last
data1 = data1[~data1[['Date', 'GVKEY']].duplicated(keep='last')]
data2 = data2[~data2[['Date', 'GVKEY']].duplicated(keep='last')]
data3 = data3[~data3[['Date', 'GVKEY']].duplicated(keep='last')]

data1_pivot = (data1.sort_values(['Date', 'GVKEY'])
               .pivot(index='Date', columns='GVKEY')
               .swaplevel(axis=1).sort_index(axis=1)
               .reindex(data1.columns[2:], axis=1, level=1))

data2_pivot = (data2.sort_values(['Date', 'GVKEY'])
              .pivot(index='Date', columns='GVKEY')
              .swaplevel(axis=1).sort_index(axis=1)
              .reindex(data2.columns[2:], axis=1, level=1))

data3_pivot = (data3.sort_values(['Date', 'GVKEY'])
               .pivot(index='Date', columns='GVKEY')
               .swaplevel(axis=1).sort_index(axis=1)
               .reindex(data3.columns[2:], axis=1, level=1))

### Question 1

In [5]:
#Create function to solve question 1
def Question1(dataset):
    datelist = np.sort(dataset["Date"].unique())[::-1]
    depParams = dataset.columns[3:].tolist()
    
    MainTable = pd.DataFrame(index = datelist, 
                         columns = [["Constant"] + depParams + ["Adjusted R2"] + ["No. of Firms"]])
    
    SideTable = pd.DataFrame(index = datelist, 
                         columns = [["Constant"] + depParams])
    
    for currdate in datelist:
        datatmp = dataset[dataset["Date"]==currdate].reset_index(drop = True).copy()
        if (len(datatmp)>1):            
            reg = sm.OLS(datatmp["Return"], sm.add_constant(datatmp[depParams])).fit()
            MainTable.loc[currdate, "Constant"] = reg.params[0]
            SideTable.loc[currdate, "Constant"] = reg.bse[0]
            for i in range(0,len(depParams)):
                exec("MainTable.loc[currdate, depParams[{0}]] = reg.params[{1}]".format(i, i+1))
                exec("SideTable.loc[currdate, depParams[{0}]] = reg.bse[{1}]".format(i, i+1))
            MainTable.loc[currdate, "Adjusted R2"] = reg.rsquared_adj
            MainTable.loc[currdate, "No. of Firms"] = reg.nobs
        else:
            MainTable.loc[currdate, "No. of Firms"] = 1
    SideTable = SideTable.replace([np.inf, -np.inf], np.nan)
    return MainTable, SideTable

In [6]:
#Solve and save down answer tables
data1_result1, data1_result1b = Question1(data1)
data1_result1.to_csv (r'data1_result1.csv', index = True, header=True)
data1_result1b.to_csv (r'data1_result1b.csv', index = True, header=True)

data2_result1, data2_result1b = Question1(data2)
data2_result1.to_csv (r'data2_result1.csv', index = True, header=True)
data2_result1b.to_csv (r'data2_result1b.csv', index = True, header=True)

data3_result1, data3_result1b = Question1(data3)
data3_result1.to_csv (r'data3_result1.csv', index = True, header=True)
data3_result1b.to_csv (r'data3_result1b.csv', index = True, header=True)

### Question 2

In [7]:
def Question2(dataset_result1, dataset_result1b):
    data_result2 = pd.DataFrame(index = dataset_result1.columns[:-2],
                             columns = ["Mean", "StdErr", "T-Stat", "P-Stat","Sig"])
    for col in data_result2.index:
        data_result2.loc[col,"Mean"] = dataset_result1[col].mean()
        data_result2.loc[col,"StdErr"] = dataset_result1b[col].mean()
        tvalue = stats.ttest_1samp(dataset_result1[col].dropna(),0)[0]
        pvalue = stats.ttest_1samp(dataset_result1[col].dropna(),0)[1]
        data_result2.loc[col,"T-Stat"] = tvalue
        data_result2.loc[col,"P-Stat"] = pvalue
        if pvalue < 0.1:
            if pvalue < 0.05:
                if pvalue < 0.01:
                    data_result2.loc[col,"Sig"] = "1%"
                else:
                    data_result2.loc[col,"Sig"] = "5%"
            else:
                data_result2.loc[col,"Sig"] = "10%"
        else:
            data_result2.loc[col,"Sig"] = "NotSig"
    return data_result2

In [8]:
data1_result2 = Question2(data1_result1, data1_result1b)
data1_result2.to_csv (r'data1_result2.csv', index = True, header=True)

data2_result2 = Question2(data2_result1, data2_result1b)
data2_result2.to_csv (r'data2_result2.csv', index = True, header=True)

data3_result2 = Question2(data3_result1, data3_result1b)
data3_result2.to_csv (r'data3_result2.csv', index = True, header=True)

In [9]:
data1_result2

                   Mean    StdErr    T-Stat    P-Stat  Sig
Constant       0.016094   0.01377   4.62062  0.000005   1%
LogSize_-1    -0.000803  0.002584  -1.69462  0.090603  10%
LogB/M_-1      0.004783  0.005609  5.277325       0.0   1%
Return_-2,-12  0.011512  0.009874  5.030341  0.000001   1%

In [10]:
data2_result2

                      Mean    StdErr    T-Stat    P-Stat     Sig
Constant          0.015235  0.020492  2.557301  0.010775      5%
LogSize_-1       -0.000445  0.003986 -0.413936  0.679058  NotSig
LogB/M_-1         0.004609  0.007495  4.832851  0.000002      1%
Return_-2,-12     0.012227  0.015672  2.759604   0.00595      1%
LogIssues_-1,-36 -0.005636  0.013802 -1.597059  0.110739  NotSig
Accruals_Yr-1    -0.000004  0.000067 -0.293948  0.768892  NotSig
ROA_Yr-1          -0.00024  0.085726 -0.012983  0.989645  NotSig
LogAG_Yr-1       -0.003767  0.027171 -0.911634    0.3623  NotSig

In [11]:
data3_result2

                       Mean    StdErr    T-Stat    P-Stat     Sig
Constant           0.015484  0.015709  4.479822  0.000009      1%
LogSize_-1         -0.00101  0.002594 -1.775176  0.076354     10%
LogB/M_-1          0.002265  0.006823  2.403627  0.016523      5%
Return_-2,-12      0.006645  0.010928  3.730254  0.000209      1%
LogIssues_-1,-36  -0.000919  0.013874 -0.207548   0.83565  NotSig
Accruals_Yr-1     -0.000013  0.000042 -1.016147  0.309952  NotSig
ROA_Yr-1           0.015216  0.064006  2.258956  0.024229      5%
LogAG_Yr-1        -0.007115  0.020817 -3.827034  0.000143      1%
DY_-1,-12          0.004186  0.195149  0.209533    0.8341  NotSig
LogReturn_-13,-36  0.000001  0.006396  0.001551  0.998763  NotSig
LogIssues_-1,-12   0.003001  0.031006  0.617274  0.537278  NotSig
Turnover_-1,-12        -0.0       0.0 -1.302844  0.193106  NotSig
Debt/Price_Yr-1   -0.000726  0.005258 -1.748372  0.080889     10%
Sales/Price_Yr-1   0.000593  0.001985  1.469529  0.142191  NotSig

### Question 3

1. Rolling 10 Year window, calculate
    a. 10yr Average for all Params
    b. Run Regression for calculating slopes 
2. Predict regression result using Average params
3. Compare predicted to real and calculate for table

In [14]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1357955 entries, 0 to 1378601
Data columns (total 16 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   GVKEY              1357955 non-null  int64
 1   Date               1357955 non-null  datetime64[ns]
 2   Return             1357955 non-null  float64
 3   LogSize_-1         1357955 non-null  float64
 4   LogB/M_-1          1357955 non-null  float64
 5   Return_-2,-12      1357955 non-null  float64
 6   LogIssues_-1,-36   1357955 non-null  float64
 7   Accruals_Yr-1      1357955 non-null  float64
 8   ROA_Yr-1           1357955 non-null  float64
 9   LogAG_Yr-1         1357955 non-null  float64
 10  DY_-1,-12          1357955 non-null  float64
 11  LogReturn_-13,-36  1357955 non-null  float64
 12  LogIssues_-1,-12   1357955 non-null  float64
 13  Turnover_-1,-12    1357955 non-null  float64
 14  Debt/Price_Yr-1    1357955 non-null  float64
 15  Sales/Price_Yr-1   1357955 non-null  float64
dtypes: datetime64[ns](1), float64(14), int64(1)
memory usage: 176.1 MB

In [12]:
data3[data3["GVKEY"]==1000]

,GVKEY,Date,Return,LogSize_-1,LogB/M_-1,"Return_-2,-12","LogIssues_-1,-36",Accruals_Yr-1,ROA_Yr-1,LogAG_Yr-1,"DY_-1,-12","LogReturn_-13,-36","LogIssues_-1,-12","Turnover_-1,-12",Debt/Price_Yr-1,Sales/Price_Yr-1
0,1000,1974-04-30,0.095238,1.924431,-0.081561,-4.285718e-01,-0.298542,-0.246,0.089400,0.089507,0.000000,-0.551282,-0.153494,9739.004887,1.021711,5.509943
1,1000,1974-05-31,-0.130435,2.016424,0.048045,-2.222232e-01,-0.297521,-0.246,0.089400,0.089507,0.000000,-0.686046,-0.150169,9758.016991,0.931915,5.025683
2,1000,1974-06-30,0.050000,1.877682,0.187806,-8.000134e-02,-0.296501,-0.246,0.089400,0.089507,0.000000,-0.637681,-0.146841,9405.625892,1.070609,5.773643
3,1000,1974-07-31,-0.142857,1.927492,0.139016,-1.666681e-01,-0.295198,-0.246,0.089400,0.089507,0.000000,-0.636363,-0.132863,9020.064092,1.018589,5.493106
4,1000,1974-08-31,0.166667,1.766826,0.293167,-3.225820e-01,-0.301428,-0.246,0.089400,0.089507,0.000000,-0.367346,-0.126248,8754.809368,1.196121,6.450510
5,1000,1974-09-30,-0.190476,1.914419,0.139016,-2.173922e-01,-0.307701,-0.246,0.089400,0.089507,0.000000,-0.452381,-0.119502,8662.078519,1.031992,5.565384
6,1000,1974-10-31,0.058824,1.696510,0.350325,-1.250005e-01,-0.263732,-0.246,0.089400,0.089507,0.000000,-0.351351,-0.117826,8256.079708,1.283256,6.920415
7,1000,1974-11-30,0.000000,1.697998,0.293167,-1.500000e-01,-0.266138,-0.246,0.089400,0.089507,0.000000,-0.487179,-0.165151,7759.250244,1.281347,6.910123
8,1000,1974-12-31,-0.055556,1.639045,0.293167,2.857149e-01,-0.268829,-0.246,0.089400,0.089507,0.000000,-0.575758,-0.215689,7304.437107,1.359157,7.329741
9,1000,1975-01-31,0.000000,1.519240,0.350325,2.857149e-01,-0.329917,-0.246,0.089400,0.089507,0.000000,-0.695652,-0.250970,6109.437653,1.532148,8.262654
10,1000,1975-02-28,0.235294,1.510207,0.350325,-5.555534e-02,-0.337388,-0.246,0.089400,0.089507,0.000000,-0.608696,-0.231866,6558.715701,1.546050,8.337628
11,1000,1975-03-31,0.142857,1.712401,0.139016,-1.499997e-01,-0.344939,-0.246,0.089400,0.089507,0.000000,-0.523809,-0.212031,6789.243217,1.263025,6.811313
12,1000,1975-04-30,-0.083333,1.836733,0.005485,2.293364e-07,-0.351339,1.530,0.065599,0.163497,0.000000,-0.533333,-0.222251,7818.668089,1.195029,8.018642
13,1000,1975-05-31,-0.090909,1.749721,0.509683,4.347846e-02,-0.348532,1.530,0.065599,0.163497,0.000000,-0.596491,-0.223271,7913.459265,1.303668,8.747610
14,1000,1975-06-30,0.150000,1.654411,0.604993,1.000009e-01,-0.345716,1.530,0.065599,0.163497,0.000000,-0.622642,-0.224290,7872.913177,1.434034,9.622371
15,1000,1975-07-31,0.217391,1.794173,0.465231,-4.761819e-02,-0.346055,1.530,0.065599,0.163497,0.000000,-0.562500,-0.217775,8164.869000,1.246986,8.367279
16,1000,1975-08-31,-0.071429,1.991202,0.268521,2.777787e-01,-0.346074,1.530,0.065599,0.163497,0.000000,-0.625000,-0.210899,9480.744479,1.023984,6.870933
17,1000,1975-09-30,0.230769,1.917413,0.342629,3.333336e-01,-0.346094,1.530,0.065599,0.163497,0.000000,-0.553192,-0.203980,9891.943068,1.102401,7.397109
18,1000,1975-10-31,0.062500,2.125370,0.134990,5.294110e-01,-0.339333,1.530,0.065599,0.163497,0.000000,-0.595238,-0.147992,11297.193841,0.895415,6.008238
19,1000,1975-11-30,0.000000,2.186632,0.074365,7.777758e-01,-0.332213,1.530,0.065599,0.163497,0.000000,-0.600000,-0.088402,12323.079359,0.842208,5.651214
20,1000,1975-12-31,0.029412,2.187268,0.074365,8.888868e-01,-0.325051,1.530,0.065599,0.163497,0.000000,-0.590909,-0.025119,12777.276328,0.841672,5.647620
21,1000,1976-01-31,0.028571,2.216891,0.045378,9.999987e-01,-0.341273,1.530,0.065599,0.163497,0.000000,-0.585366,-0.015450,14031.442348,0.817105,5.482773
22,1000,1976-02-29,0.388889,2.244744,0.017207,1.058823e+00,-0.358168,1.530,0.065599,0.163497,0.000000,-0.585366,-0.006653,16825.308369,0.794660,5.332168
23,1000,1976-03-31,0.080000,2.572930,-0.311297,7.142844e-01,-0.374793,1.530,0.065599,0.163497,0.000000,-0.382353,0.002228,23571.164257,0.572337,3.840382
24,1000,1976-04-30,0.018519,2.649573,-0.388258,1.083332e+00,-0.372813,-2.070,0.092203,-0.069988,0.000000,-0.314286,0.001910,26558.333055,0.412991,3.618321
25,1000,1976-05-31,-0.127273,2.678521,-0.342583,1.454543e+00,-0.359911,-2.070,0.092203,-0.069988,0.000000,-0.185186,0.012509,29759.859081,0.401207,3.515079
26,1000,1976-06-30,0.208333,2.552877,-0.206450,1.749999e+00,-0.347115,-2.070,0.092203,-0.069988,0.000000,-0.200001,0.022997,31649.253637,0.454921,3.985674
27,1000,1976-07-31,0.034483,2.752498,-0.395692,1.086955e+00,-0.323777,-2.070,0.092203,-0.069988,0.000000,-0.041667,0.033057,33709.561168,0.372599,3.264432
28,1000,1976-08-31,0.000000,2.787785,-0.429594,1.071427e+00,-0.309262,-2.070,0.092203,-0.069988,0.000000,-0.096775,0.034124,36347.834654,0.359680,3.151247
29,1000,1976-09-30,-0.050000,2.789169,-0.429594,1.307692e+00,-0.294574,-2.070,0.092203,-0.069988,0.000000,0.130434,0.035190,37215.758370,0.359182,3.146888
30,1000,1976-10-31,-0.175439,2.739258,-0.378301,8.750000e-01,-0.284916,-2.070,0.092203,-0.069988,0.000000,0.333332,0.035936,36556.613853,0.377565,3.307938
31,1000,1976-11-30,-0.085106,2.551711,-0.185397,6.764706e-01,-0.271214,-2.070,0.092203,-0.069988,0.000000,0.699999,0.040657,36256.505809,0.455451,3.990321
32,1000,1976-12-31,0.069767,2.468092,-0.096449,3.823523e-01,-0.257470,-2.070,0.092203,-0.069988,0.000000,1.428570,0.045349,37128.855356,0.495173,4.338336
33,1000,1977-01-31,0.065217,2.540834,-0.163891,2.285711e-01,-0.224804,-2.070,0.092203,-0.069988,0.000000,1.499999,0.050967,36893.760087,0.460432,4.033963
34,1000,1977-02-28,-0.020408,2.604315,-0.227070,2.777774e-01,-0.196365,-2.070,0.092203,-0.069988,0.000000,0.999999,0.051587,35563.354497,0.432112,3.785842
35,1000,1977-03-31,0.041667,2.583998,-0.206450,-2.000072e-02,-0.167112,-2.070,0.092203,-0.069988,0.000000,1.499999,0.052207,29050.269936,0.440981,3.863547
36,1000,1977-04-30,-0.080000,2.625121,-0.247272,-1.111116e-01,-0.167831,2.000,0.109904,0.478802,0.000000,1.571427,0.041910,28630.180351,1.009181,4.810430
37,1000,1977-05-31,0.065217,2.543850,0.211233,-9.090975e-02,-0.166741,2.000,0.109904,0.478802,0.000000,1.391305,0.033533,25535.355756,1.094623,5.217706
38,1000,1977-06-30,0.069388,2.609135,0.148054,-4.166706e-02,-0.165655,2.000,0.109904,0.478802,0.000000,1.400000,0.025260,24590.810790,1.025444,4.887950
39,1000,1977-07-31,0.230769,2.670660,0.088631,-1.551728e-01,-0.157038,2.000,0.109904,0.478802,0.007692,1.761904,0.025975,24653.597414,0.964255,4.596284
40,1000,1977-08-31,0.046875,2.878749,-0.119009,-1.266671e-01,-0.150031,2.000,0.109904,0.478802,0.006250,2.333333,0.025041,29995.989013,0.783105,3.732801
41,1000,1977-09-30,0.080597,2.925008,-0.164818,7.487105e-02,-0.142981,2.000,0.109904,0.478802,0.005970,1.857142,0.024109,39884.285627,0.747704,3.564058
42,1000,1977-10-31,-0.041667,2.997431,-0.236792,1.844796e-01,-0.086862,2.000,0.109904,0.478802,0.011111,2.352939,0.019201,43892.375190,0.695468,3.315064
43,1000,1977-11-30,0.000000,2.954871,-0.194232,5.522746e-01,-0.027909,2.000,0.109904,0.478802,0.011594,1.611107,0.013872,44659.929110,0.725705,3.459198
44,1000,1977-12-31,0.072464,2.954871,-0.194232,6.259763e-01,0.034738,2.000,0.109904,0.478802,0.011594,1.388886,0.008572,44895.783851,0.725705,3.459198
45,1000,1978-01-31,-0.013514,3.024830,-0.264191,5.199350e-01,0.043771,2.000,0.109904,0.478802,0.010811,1.705879,0.008270,46091.152042,0.676671,3.225468
46,1000,1978-02-28,-0.027397,3.011374,-0.250585,5.302756e-01,0.053036,2.000,0.109904,0.478802,0.010959,1.882349,0.008118,51810.391960,0.685838,3.269163
47,1000,1978-03-31,0.000000,2.983744,-0.222806,5.410451e-01,0.062385,2.000,0.109904,0.478802,0.011268,1.285711,0.007966,55758.431730,0.705052,3.360749